---
layout: default
---

<article class="page">
    <h1>Categories</h1>
    {% for category in site.categories %}
      <h2>{{ category[0] }}</h2> <!-- Category name -->
      <ul>
        {% for post in category[1] %} <!-- Iterating through posts in the category -->
          <li>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
</article>



